# === Core Deep Learning ===
torch==2.6.0
torchvision==0.21.0
torchaudio==2.6.0
dgl==1.1.2+cpu
-f https://data.dgl.ai/wheels/repo.html
dgllife==0.3.2
rdkit

# === Utilities ===
streamlit
numpy
matplotlib
scikit-learn
