# === Core Deep Learning ===
torch==2.4.0
torchvision==0.19.0
torchaudio==2.4.0

# === Graph Deep Learning (CUDA 12.4 build) ===
dgl==2.1.0 \
    --find-links https://data.dgl.ai/wheels/torch-2.4/cu124/repo.html
dgllife==0.3.2
rdkit==2025.9.1

# === Streamlit and utilities ===
streamlit
numpy
matplotlib
scikit-learn
